 
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
   }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  
#mat-card-image {
    min-height: 150px;
    max-height: 150px;
    min-width: 100px;
    max-width: 100px;
    margin: 20px;
}

.example-card {
    text-align: center;
    margin: 10px;
    min-height: 99%;
    max-height: 99%;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}